
$upper-bar-font-familty: serif;
$upper-bar-margin-top: 17px;
$hover-font-color: rgb(77, 17, 17);
$box-shadow: 0 3px 3px 0 blue;

.searchbarFrame {
    display: flex;
    flex-direction: row;
    width: 91%;
    margin: 0 auto;
}
.searchbarInputProject {
    margin-top: $upper-bar-margin-top; 
    width: 311px;
    height: 31px;
    border-radius: 7px;
    border: 1px solid rgb(218, 157, 92);
}
.search {
    margin-top: $upper-bar-margin-top; 
    margin-left: 11px;
    font-family: $upper-bar-font-familty;
    font-size: 13px;
    color: blue;
}
.textPointer {
    cursor: pointer;

    &:hover {
        color: $hover-font-color;
        font-weight: 600;
    }
}
.searchResultFrame {
    width: 91%;
    margin: 0 auto;
}
.searchCardFrame {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 17px;
    margin: 0 auto;
}
.searchResultCard {
    border: 1px solid black;
    border-radius: 5px;
    padding: 7px;
    &:hover {
        color: $hover-font-color;
        font-weight: 600;
        box-shadow: $box-shadow;
    }
}
.searchResultInRow {
    margin: 3px;
    display: flex;
    flex-direction: row;
}
.searchResultJedesInfor {
    padding: 5px;
    font-family: monospace;
    font-size: 17px;
}
.searchResultRowData {
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    color: brown;
}


.textPointer {
    cursor: pointer;
  
    &:hover {
      color: $hover-font-color;
      font-weight: 600;
    }
  }