.main-frame-tighten {
  width: 90%;
  margin: 0 auto;
}
.title-row {
  display: flex;
  flex-direction: row;
}
.title-bottom-linie {
  padding-bottom: 7px;
  border-bottom: 1px solid rgb(247, 235, 222);
}
.width-option {
  width: 71px;
}

@media screen 
and (min-device-width: 911px) {
  .title-text {
    font-family: serif;
    font-weight: 300;
    font-size: 17px;
    color: rgb(77, 17, 17);
    margin-bottom: 0ch; 
    margin-top: 17px; 
  }
  .searchbar-input-project {
    margin-top: 17px; 
    width: 311px;
    height: 17px;
    border-radius: 7px;
    border: 1px solid rgb(218, 157, 92);
  }
  button.search {
    margin-top: 17px; 
    color: blue;
    background-color: transparent;
    border: 1px solid blanchedalmond;
    border-radius: 3px;
  }
  .boden-text {
    margin: 0 auto;
    width: 51%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkkhaki;
  }
  .boden-linie {
    margin-top: 31px;
    margin-bottom: 17px;
    border-top: 1px solid darkgray;
  }
  .boden-linie-height {
    height: 31px;
  }
}
@media screen 
and (max-device-width: 900px) {
  .title-text {
    font-size: 11px;
    color: rgb(77, 17, 17);
    margin-bottom: 0ch; 
    border: 1px solid burlywood;
    border-radius: 3px;
    text-align: center;
    margin-top: 17px;
  }
  .boden-text {
    margin: 0 auto;
    margin-bottom: 17px;
    width: 91%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 11px;
    color: darkkhaki;
  }
  .boden-linie {
    margin-bottom: 17px;
    border-top: 1px solid darkgray;
  }
  .boden-linie-height {
    height: 31px;
  }
}


.text-pointer {
  cursor: pointer;
}
.text-pointer:hover {
  color: rgba(77, 17, 17);
}
.text-center {
  text-align: center;
}
.text-trademakr-infor {
  color: #3d5770;
  font-family: Courier New;
}

.separate-two-side {
    justify-content: space-between
}
.making-row {
  display: flex;
  flex-direction: row;
}
.making-column {
  display: flex;
  flex-direction: column;
}
.gap-upper {
  margin-top: 20px;
}

button {
  max-width: 100%;
  cursor: pointer;
  -webkit-appearance: none;
  margin-bottom: 7px;
  margin-left: 50%;
  font-weight: 300;
}
button:hover {
  border: 2px solid rgb(189, 129, 121);
  box-shadow: 0 7px 7px 0 solid rgb(0, 0, 0);
  color: rgba(77, 17, 17);
  font-weight: 500;
}
button:active {
  border: 2px solid rgb(189, 129, 121);
  color: rgba(77, 17, 17);
  transform: translateY(2px);
}

